.activity{
    height: 100vh;
    width: 100vw;
}
.watch-history{
    height: 52vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.watch-history-video-container{
    height: 47vh;
    width: 98vw;
    padding-left: 2vw;
    display: flex;
    overflow-x: scroll;
    flex-shrink: 0;
    gap: 20px;
    align-items: center;
}
.nan{
    display: none;
}
.watch-history-video-container::-webkit-scrollbar{
    width: 4px;
    height: 4px;
}
.watch-history-video-container::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 2px;
}
.watch-history-video-container::-webkit-scrollbar-track{
    background-color: transparent;
}
.view-all{
    height: 5.5vh;
    width: 6vw;
    border-radius: 20px;
    position: absolute;
    right: 2vw;
    top:1vh;
    color: black;
    border : 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    transition: all 0.1s linear;
    outline: none;
}
.view-all:active{
    scale: 0.9;
}

.select-menu {
    position: relative;
    display: inline-block;
    width: 200px;
}

.select-menu select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    box-shadow: none;
}

.select-menu select:focus {
    outline: none;
    box-shadow: none;
}

.select-menu select option {
    border: none;
    background: transparent;
    padding: 10px;
}