.videoComponent{
    min-height: 97%;
    max-height: 98%;
    min-width: 22vw;
    max-width: 23vw;
    padding-bottom: 2px;
    position: relative;
}

.owner-section{
    height: 14%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;
    padding-left: 5px;
}
.nan{
    display: none;
}
.advanced-option{
    height: 20vh;
    width: 20vw;
    position: absolute;
    bottom:10%;
    right:10%;
    background-color: whitesmoke;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding-left: 2%;
}
li:hover{
    background-color: white;
}